* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gray {
  color: #918e9b;
}
.bold {
  font-weight: bold;
}

/* Navbar */

nav {
  height: 70px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 25px;
  width: 82px;
  position: absolute;
  left: 30px;
  top: 22px;
}

/* Hero */
.hero {
  padding: 26px 77px 32px;
  display: flex;
  flex-direction: column;
}
.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-title {
  color: rgba(0, 0, 0, 1);

  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 36px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.hero-text {
  padding-left: 36px;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(34, 34, 34, 1);
}

/* Card */
.card {
  position: relative;
  width: 176px;
  font-size: 12px;
}
.card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 37px;
}
.card-img {
  border-radius: 9px;
  width: 100%;
}
.starts {
  display: flex;
  align-items: center;
}
.start-icon {
  font-size: 14px;
}

.status-current {
  color: #222222;
  position: absolute;
  left: 12px;
  top: 12px;
  height: 20px;
  width: 65px;
  border-radius: 2px;
  font-family: Poppins;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}
